<% if params[:query] == "" %>
<% elsif searchresults.empty? %>
  <div class="none-list"><p>No entry found ....</p></div>
<% else %>
  <%= render :partial => "table", :locals => {:money_list => searchresults} %>
<% end %>
