<% provide(:title, "About") %>

<h1>About</h1>

<p>
Track your spending via this simple Web App. <br>
You will find life becomes easier once you starting doing this. <br>
<br>
 -- <br>
Happy Managing your Money!
</p>
