<% provide(:title, 'Money Manager') %>
<h1>Welcome to MoneyManager</h1>
<div class="welcome">
  <div class="left-panel">
    <%= image_tag("logo.jpeg", :alt => "Money Manger") %>
  </div>
  <div class="right-panel">
    <p>Where is my money going? Please sign in and find it out.</p>
  </div>
</div>

