<footer class="footer">
  <small>
    <a href="http://localhost:3000/">Money Manager</a>
    by Wenjun Zhang
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://localhost:3000/news">News</a></li>
    </ul>
  </nav>
</footer>
